<!DOCTYPE html>
<html lang="en">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cyzorz" />
    <meta property="og:description" content="Personal site for all my activities, feel free to check me out!" />
    <meta property="og:url" content="cyz.dev" />
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/447185869590233088/a_95a15804aeabe2a2aadedc4fcd90ef7b.gif?size=256" /> 
    <head>
        <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="{{ url_for('static', filename='images/terminal.png') }}">
        <title>{% block title %} {% endblock %}</title>
    </head> 
    <body>
        <h1 class="lower">cyz.dev</h1>
        <h2 class="line-1 anim-typewriter">> back-end & low-level developer</h2>
        <div class="nav">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="https://github.com/Cyzorz">GitHub</a>
            <a href="{{ url_for('bio') }}">Contact</a>

    </body>
</html>