<!DOCTYPE html>
<html lang="en">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Cyzorz" />
    <meta property="og:description" content="Personal site for all my activities, feel free to check me out!" />
    <meta property="og:url" content="cyz.dev" />
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/447185869590233088/a_95a15804aeabe2a2aadedc4fcd90ef7b.gif?size=256" /> 
    <head>
        <link rel="stylesheet" type = "text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
        <title>{% block title %} {% endblock %}</title>
    </head> 
    <body>
        <div id ="head">
            <h1>cyz.dev</h1>
        </div>
        <div class="nav">
            <a href="{{ url_for('home') }}" class="active">Home</a>
            <div id="links">
                <a href="https://github.com/Cyzorz">GitHub</a>
                <a href="{{ url_for('home') }}">Contact</a>
            </div>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>

        </div>
        <div id="art">
            <!-- <img src="{{ url_for('static', filename='images/cyz.gif') }}"> -->
        </div>


    </body>
</html>