@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgb(25,25,25);  
}
.line-1{
    position: relative;
    top: 50%;  
    width: 30em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-orientation: mixed;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2.5s steps(44) 0.5s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 12.3em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(117, 67, 67, 0.75);}
  to{border-right-color: transparent;}
}

.lower {
  position: relative;
  text-align: center;
  top: 51%; 
  color: rgb(130,212,230);
  font-size: 30px;
  white-space: nowrap;
  overflow: auto;
  transform: translateY(-50%);   
}

.nav {
  position: relative;
  text-align: center;
  top: 51%; 
  white-space: nowrap;
  overflow: auto;
  transform: translateY(-50%); 
}

.nav a:hover {
  color: aqua;
}